*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

.enterForm{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

#enterText{
  width: 40vw;
  height: 40vh;
  resize: none;
  font-size: 18px;
  margin-top: 10px;
  padding: 5px;
}

.btns{
  display: flex;
  justify-content: space-evenly;
  width: 40vw;
}

button{
  width: 30%;
  margin-top: 30px;
}

.myCanvas{
  width: 99vw;
  overflow-x: scroll;
  display: none;
}

canvas{
  margin: 0 20px 0 20px;
  display: none;
}

.table1,
.table2,
.table3{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

table, tbody, th, td, tr{
  border: 1px solid #000000;
}

th, tr{
  text-align: center;
}

.sideBtns{
  position: fixed;
  left: 15px;
  bottom: 15px;
}

.sideBtns a{
  cursor: pointer;
  color: #000000;
  text-decoration: none;
  background-color: aliceblue;
  border: 1px solid #000000;
  padding: 5px 10px;
  border-radius: 180;
  text-align: center;
  transition: 0.4s;
}

.sideBtns a:hover{
  background-color: antiquewhite;
}